@import '../activitiesList/activities-list.css';

.is-invalid {
  border-color: #f05c2b !important;
}

.field-error {
  color: #f05c2b;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  display: block;
  font-weight: 300;
}
