@import '../activitiesList/activities-list.css';

.is-invalid {
  border-color: #e53e3e !important;
}

.field-error {
  color: #e53e3e;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: block;
  font-weight: 300;
}
